/*
Template - Float admin landing page
Version - 1.0
Author - design_mylife
*/
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700";
/*Fonts*/
/**background-colors*/
.bg-light-dark {
  background-color: rgba(0, 0, 0, 0.1);
}

.white-bg {
  background: #fff;
}

.bg-success {
  background-color: #4CAF50;
}

.border-success {
  border-color: #4CAF50;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
  background-color: #F6FAFB;
}

a {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #56afd7;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0 !important;
}

a.text-muted:hover {
  color: #23b7e5;
}

a blockquote {
  color: #666;
}

blockquote {
  font-style: italic;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

button:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-weight: 700;
}

strong, b {
  font-weight: 700 !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.padding-20 {
  padding: 20px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0px !important;
}

.text-sm {
  font-size: 12px !important;
}

.font-100 {
  font-weight: 100 !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.overflow-hidden {
  overflow: hidden;
}

.pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.padding-5 {
  padding: 5px !important;
}

.mv-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.br {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.pv-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.row-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}

.row-table > [class*=col-] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}

.padding-0 {
  padding: 0px !important;
}

.font-lg {
  font-size: 60px;
  line-height: 60px;
}

/*background color*/
.bg-light {
  background-color: #fff !important;
  border-color: #fff !important;
}

.bg-gray {
  background-color: #f7f9fa !important;
  border-color: #f7f9fa !important;
}

.bg-primary {
  background-color: #23b7e5 !important;
  border-color: #23b7e5 !important;
  color: #fff;
}

.bg-blue {
  background-color: #03A9F4 !important;
  border-color: #03A9F4 !important;
  color: #fff;
}

.bg-success {
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
  color: #fff;
}

.bg-danger {
  background-color: #F44336 !important;
  border-color: #F44336 !important;
  color: #fff;
}

.bg-info {
  background-color: #56afd7 !important;
  border-color: #56afd7 !important;
  color: #fff;
}

.bg-teal {
  background-color: #26A69A !important;
  border-color: #26A69A !important;
  color: #fff;
}

.bg-indigo {
  background-color: #7986CB !important;
  border-color: #7986CB !important;
  color: #fff;
}

.bg-warning {
  background-color: #FF7043 !important;
  border-color: #FF7043 !important;
  color: #fff;
}

.bg-dark {
  background-color: #212121 !important;
  border-color: #212121 !important;
  color: #fff;
}

.bg-dark {
  background-color: #212121 !important;
  border-color: #212121 !important;
  color: #fff;
}

.text-muted {
  color: #909fa7;
}

.text-primary {
  color: #23b7e5;
}

.text-success {
  color: #4CAF50;
}

.text-danger {
  color: #F44336;
}

.text-warning {
  color: #FF7043;
}

.text-blue {
  color: #03A9F4;
}

.text-info {
  color: #56afd7;
}

.text-teal {
  color: #26A69A;
}

.text-indigo {
  color: #7986CB;
}

/**alerts*/
.alert-danger {
  color: #F44336;
  background-color: transparent;
  border-color: #F44336;
}

.alert-warning {
  color: #FF7043;
  background-color: transparent;
  border-color: #FF7043;
}

.alert-info {
  color: #56afd7;
  background-color: transparent;
  border-color: #56afd7;
}

.alert-success {
  color: #4CAF50;
  background-color: transparent;
  border-color: #4CAF50;
}

/**toastr notification color**/
.jq-icon-info {
  background-color: #56afd7;
}

.jq-icon-success {
  background-color: #4CAF50;
}

.jq-icon-warning {
  background-color: #FF7043;
}

.jq-icon-error {
  background-color: #F44336;
}

.close-jq-toast-single {
  position: absolute;
  top: 1px;
  right: 4px;
  font-size: 14px;
  cursor: pointer;
}

.jq-toast-single {
  border-radius: 0px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.jq-toast-single h2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.jq-toast-loader {
  height: 2px;
  border-radius: 0px;
}

.dropcap:first-letter {
  font-size: 18px;
  font-weight: 700;
  color: #23b7e5;
  display: inline-block;
}

/***margins**/
.margin-b-0 {
  margin-bottom: 0px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-40 {
  margin-bottom: 40px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-tb-10 {
  margin: 10px 0;
}

.margin-tb-20 {
  margin: 20px 0;
}

.margin-tb-30 {
  margin: 30px 0;
}

.pad-v {
  padding: 10px 0;
}

.fullwidth {
  margin-left: -30px;
  margin-right: -30px;
  padding: 0px 30px;
}

.main-content {
  min-height: 100vh;
  padding: 30px;
  padding-bottom: 40px;
  padding-top: 60px;
  position: relative;
  margin-left: 220px;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

body.nav-toggle .main-content {
  margin-left: 0px;
}

.infont a {
  padding: 10px;
  margin: 1px;
  display: block;
  color: #4d4d4d;
}
.infont a i {
  font-size: 25px;
  display: block;
}

.line-icons .item {
  padding: 10px;
  display: block;
  color: #4d4d4d;
}
.line-icons .item span[aria-hidden="true"] {
  display: block;
  font-size: 20px;
}

.slimScrollBar {
  background: #a4a4a4 !important;
}

.dashboard-only-content {
  padding-top: 30px;
}

/*
Buttons style
*/
.buttons a {
  margin: 3px;
}

.btn {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 7px 14px;
  font-weight: 400;
}
.btn.btn-sm {
  padding: 6px 10px;
}
.btn.btn-lg {
  padding: 10px 30px;
  font-size: 16px;
}
.btn.btn-xs {
  padding: 4px 8px;
  font-size: 11px;
}
.btn.btn-rounded {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  overflow: hidden;
}
.btn.btn-icon {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
}
.btn.btn-icon i {
  position: absolute;
  height: 100%;
  line-height: 100%;
  width: 40px;
  line-height: 34px;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-default {
  background-color: #fff;
  border-color: #dde6e9;
}
.btn-default:hover {
  background-color: #dde6e9;
  border-color: #dde6e9;
  opacity: 0.9;
}
.btn-default:focus {
  border-color: #dde6e9;
  background: #fff;
}

.btn-primary {
  background-color: #23b7e5;
  border-color: #23b7e5;
  color: #fff;
}
.btn-primary:hover {
  color: #fff;
  opacity: 0.9;
  background-color: #23b7e5;
  border-color: #23b7e5;
}
.btn-primary:focus {
  color: #fff;
  background-color: #23b7e5;
  border-color: #23b7e5;
}

.btn-info {
  background-color: #56afd7;
  border-color: #56afd7;
  color: #fff;
}
.btn-info:hover {
  color: #fff;
  opacity: 0.9;
  background-color: #56afd7;
  border-color: #56afd7;
}
.btn-info:focus {
  color: #fff;
  background-color: #56afd7;
  border-color: #56afd7;
}

.btn-success {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff;
}
.btn-success:hover {
  color: #fff;
  opacity: 0.9;
  border-color: #4CAF50;
}
.btn-success:focus {
  color: #fff;
  border-color: #4CAF50;
}

.btn-warning {
  background-color: #FF7043;
  border-color: #FF7043;
  color: #fff;
}
.btn-warning:hover {
  color: #fff;
  opacity: 0.9;
  background-color: #FF7043;
  border-color: #FF7043;
}
.btn-warning:focus {
  color: #fff;
  background-color: #FF7043;
  border-color: #FF7043;
}

.btn-danger {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff;
}
.btn-danger:hover {
  color: #fff;
  opacity: 0.9;
  background-color: #F44336;
  border-color: #F44336;
}
.btn-danger:focus {
  color: #fff;
  background-color: #F44336;
  border-color: #F44336;
}

.btn-teal {
  background-color: #26A69A;
  border-color: #26A69A;
  color: #fff;
}
.btn-teal:hover {
  color: #fff;
  opacity: 0.9;
  border-color: #26A69A;
}
.btn-teal:focus {
  color: #fff;
  border-color: #26A69A;
}

.btn-indigo {
  background-color: #7986CB;
  border-color: #7986CB;
  color: #fff;
}
.btn-indigo:hover {
  color: #fff;
  opacity: 0.9;
}
.btn-indigo:focus {
  color: #fff;
}

/**border buttons**/
.btn.btn-border:hover {
  opacity: 1 !important;
}

.btn.btn-border {
  background-color: transparent;
}
.btn.btn-border.btn-default {
  border: 1px solid #dde6e9;
}
.btn.btn-border.btn-default:hover {
  background-color: #dde6e9;
}
.btn.btn-border.btn-default:focus {
  background-color: transparent;
}
.btn.btn-border.btn-primary {
  color: #23b7e5;
  border: 1px solid #23b7e5;
}
.btn.btn-border.btn-primary:focus {
  background-color: transparent;
}
.btn.btn-border.btn-primary:hover {
  background-color: #23b7e5;
  color: #fff;
}
.btn.btn-border.btn-success {
  color: #4CAF50;
  border: 1px solid #4CAF50;
}
.btn.btn-border.btn-success:focus {
  background-color: transparent;
}
.btn.btn-border.btn-success:hover {
  background-color: #4CAF50;
  color: #fff;
}
.btn.btn-border.btn-info {
  color: #56afd7;
  border: 1px solid #56afd7;
}
.btn.btn-border.btn-info:focus {
  background-color: transparent;
}
.btn.btn-border.btn-info:hover {
  background-color: #56afd7;
  color: #fff;
}
.btn.btn-border.btn-warning {
  color: #FF7043;
  border: 1px solid #FF7043;
}
.btn.btn-border.btn-warning:focus {
  background-color: transparent;
}
.btn.btn-border.btn-warning:hover {
  background-color: #FF7043;
  color: #fff;
}
.btn.btn-border.btn-danger {
  color: #F44336;
  border: 1px solid #F44336;
}
.btn.btn-border.btn-danger:focus {
  background-color: transparent;
}
.btn.btn-border.btn-danger:hover {
  background-color: #F44336;
  color: #fff;
}
.btn.btn-border.btn-indigo {
  color: #7986CB;
  border: 1px solid #7986CB;
}
.btn.btn-border.btn-indigo:focus {
  background-color: transparent;
}
.btn.btn-border.btn-indigo:hover {
  background-color: #7986CB;
  color: #fff;
}
.btn.btn-border.btn-teal {
  color: #26A69A;
  border: 1px solid #26A69A;
}
.btn.btn-border.btn-teal:focus {
  background-color: transparent;
}
.btn.btn-border.btn-teal:hover {
  background-color: #26A69A;
  color: #fff;
}

/**social buttons**/
.btn-facebook {
  color: #ffffff !important;
  background-color: #3b5998 !important;
}

.btn-twitter {
  color: #ffffff !important;
  background-color: #55acee !important;
}

.btn-linkedin {
  color: #ffffff !important;
  background-color: #007bb6 !important;
}

.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89 !important;
}

.btn-googleplus {
  color: #ffffff !important;
  background-color: #dd4b39 !important;
}

.btn-instagram {
  color: #ffffff !important;
  background-color: #3f729b !important;
}

.btn-pinterest {
  color: #ffffff !important;
  background-color: #cb2027 !important;
}

.btn-dropbox {
  color: #ffffff !important;
  background-color: #007ee5 !important;
}

.btn-flickr {
  color: #ffffff !important;
  background-color: #ff0084 !important;
}

.btn-tumblr {
  color: #ffffff !important;
  background-color: #32506d !important;
}

.btn-skype {
  color: #ffffff !important;
  background-color: #00aff0 !important;
}

.btn-youtube {
  color: #ffffff !important;
  background-color: #bb0000 !important;
}

.btn-github {
  color: #ffffff !important;
  background-color: #171515 !important;
}

/*
Panels css
*/
.panel {
  margin-bottom: 30px;
}

.panel, .panel-heading {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.panel-heading {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 15px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 15px;
}

.panel-group .panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.panel-body {
  position: relative;
}

/**panel colors**/
.panel-primary {
  border-color: #23b7e5;
}

.panel-default {
  border-color: #e1e8ed;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-bottom: 0px;
}

.panel-default .panel-heading a.collapsed {
  color: #666;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #23b7e5;
  border-color: #23b7e5;
}
.panel-primary > .panel-heading a {
  color: #fff;
}

.panel-success {
  border-color: #4CAF50;
}

.panel-success > .panel-heading {
  color: #fff;
  background-color: #4CAF50;
  border-color: #4CAF50;
}
.panel-success > .panel-heading a {
  color: #fff;
}

.panel-info {
  border-color: #56afd7;
}

.panel-info > .panel-heading {
  color: #fff;
  background-color: #56afd7;
  border-color: #56afd7;
}
.panel-info > .panel-heading a {
  color: #fff;
}

.panel-warning {
  border-color: #FF7043;
}

.panel-warning > .panel-heading {
  color: #fff;
  background-color: #FF7043;
  border-color: #FF7043;
}
.panel-warning > .panel-heading a {
  color: #fff;
}

.panel-danger {
  border-color: #F44336;
}

.panel-danger > .panel-heading {
  color: #fff;
  background-color: #F44336;
  border-color: #F44336;
}
.panel-danger > .panel-heading a {
  color: #fff;
}

.panel-indigo {
  border-color: #7986CB;
}

.panel-indigo > .panel-heading {
  color: #fff;
  background-color: #7986CB;
  border-color: #7986CB;
}
.panel-indigo > .panel-heading a {
  color: #fff;
}

.panel-teal {
  border-color: #26A69A;
}

.panel-teal > .panel-heading {
  color: #fff;
  background-color: #26A69A;
  border-color: #26A69A;
}
.panel-teal > .panel-heading a {
  color: #fff;
}

.panel-search {
  position: relative;
  width: 170px;
  float: right;
}
.panel-search .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  height: 24px;
  font-size: 12px;
  font-weight: 300;
}
.panel-search span {
  position: absolute;
  right: 10px;
  top: 7px;
  border: 0px;
  font-size: 11px;
}

.panel-footer {
  padding: 10px 15px;
  background: #fff;
}

/**wells*/
.well-default {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

/*
Pricing tables
*/
.price-box {
  text-align: center;
}
.price-box .price-amount {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}
.price-box .price-amount sup, .price-box .price-amount sub {
  font-weight: 400;
  font-size: 13px;
}
.price-box .price-amount sup {
  top: -1.5em;
}
.price-box ul {
  margin: 0;
  padding: 0;
}
.price-box ul li {
  padding: 7px 0;
}

body.float-landing {
  background: #fff;
}

/***========Main navigation========****/
.navbar-default {
  background: #fff;
  margin: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #888;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}
.navbar-default .navbar-nav > li.nav-button a {
  display: block;
  padding: 6px 15px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  background: #7986CB;
  color: #fff;
  font-weight: 500;
  margin-top: 9px;
  margin-left: 30px;
}

.navbar-brand > img {
  display: block;
  margin-top: 5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #23b7e5;
}

.intro-section {
  padding-top: 150px;
  position: relative;
  padding-bottom: 150px;
  background-color: #7986CB;
}
.intro-section h1 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.intro-section p {
  color: #fff;
  opacity: 0.8;
  margin-top: 20px;
}
.intro-section .buttons {
  padding-top: 30px;
  padding-bottom: 80px;
}
.intro-section .buttons .btn-white {
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.intro-section .buttons .btn-white:hover {
  background: #fff;
  color: #333;
}
.intro-section .buttons .btn-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.intro-mockup {
  position: relative;
  margin-top: -180px;
}

.center-title {
  font-weight: 400;
  color: #000;
}

.subtitle {
  padding-bottom: 40px;
}

/**features**/
.features-section {
  padding: 70px 0;
  padding-bottom: 40px;
}
.features-section .col-sm-4 {
  margin-bottom: 30px;
}
.features-section i {
  margin-bottom: 20px;
}
.features-section h4 {
  font-weight: 400;
  text-transform: capitalize;
}

.pricing-section {
  padding: 70px 0;
  padding-bottom: 40px;
  background: #f5f5f5;
}

.team-section {
  padding: 70px 0;
  padding-bottom: 40px;
  text-align: center;
}
.team-section h4 {
  font-weight: 500;
  margin: 15px 0;
}

/**testimonials**/
.testimonials-section {
  padding-top: 70px;
  padding-bottom: 40px;
  background: #7986CB;
}
.testimonials-section .center-title, .testimonials-section .subtitle {
  color: #fff;
}

.testimonials_box {
  position: relative;
  background: #fff;
  border: 4px solid #fff;
  padding: 20px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.testimonials_box p {
  margin: 0px;
}

.testimonials_box:after, .testimonials_box:before {
  top: 100%;
  left: 16px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.testimonials_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 7px;
  margin-left: -7px;
}

.testimonials_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 13px;
  margin-left: -13px;
}

.testimonial-info .img-circle {
  float: left;
  margin-right: 10px;
}
.testimonial-info h5 {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
.testimonial-info span {
  color: #fff;
  opacity: 0.7;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
}

.our-clients {
  padding-top: 70px;
  padding-bottom: 40px;
}

.client-box {
  background: #ddd;
  margin-bottom: 30px;
}
.client-box img {
  display: block;
  margin: 0 auto;
}

.contact-section {
  padding-top: 70px;
  padding-bottom: 40px;
  background: #fbfbfb;
}
.contact-section ul li a {
  color: #888;
  font-size: 22px;
}
.contact-section ul li a:hover {
  color: #7986CB;
}

.footer {
  background: #7986CB;
  color: #fff;
  padding: 15px 0;
}

/**responsive**/
@media (max-width: 991px) {
  .navbar-default .navbar-nav > li.nav-button a {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .intro-section {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .intro-section h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .intro-mockup {
    margin-top: -80px;
  }
}
